#trial-btn-container {
	margin: 0 0 0 3rem;
}

#trial-btn {
	margin: 1rem 0;
	border-radius: 10px;
	font-size: 1rem;
	font-weight: 500;
	color: white;
	background-color: #5e54a4;
}

#trial-btn span {
	font-weight: 700;
}

@media (max-width: 375px) {
	#trial-btn-container {
		margin: 0 1rem;
	}

	#trial-btn {
		height: 80px;
		width: 100%;
		margin-bottom: 0.5rem;
		padding: 0rem 4.2rem;
		line-height: 1.5rem;
		text-align: center;
	}
}
